%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li
        %a{:href => "/"}
          %i.fa.fa-home
          %span
            = t("brand_main_menu.home.title")
      %li
        %a{:href => ""}
          %i.fa.fa-check-circle
          %span
            = t("brand_main_menu.features.title")

      - if !ENV["show_pricing"]
        %li
          %a{:href => ""}
            %i.fa.fa-usd
            %span
              = t("brand_main_menu.pricing.title")
