= render "shared/brand/main_menu"
.content-wrapper
  %section.content
    .row
      .col-md-12
        =  render :partial => 'brand/home/partials/features', locals: { features: @features }
    .row
      .col-md-12
        = # render :partial => 'brand/home/partials/screenshots', locals: { screenshots: @screenshots }

    - if !ENV["show_pricing"]
      .row
        .col-md-12
          =  render :partial => 'brand/home/partials/pricing', locals: { plans: @plans }
