%header.main-header
  %a.logo{:href => dashboard_path}
    / Add the class icon to your logo image or logo icon to add the margining
    = t("shared.brand")
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{:role => "navigation"}
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .navbar-right
      %ul.nav.navbar-nav
        - if !current_user.nil?
          %li
            %a{:href => "/users/edit"}
              %span
                = t("shared.user.welcome", :user => current_user.name)
          %li
            %a{:href => ""}
              %span
                = t("shared.user.plan", :plan => current_user.plan.name)
          %li
            %a{:href => "/users/sign_out"}
              %span
                = t("shared.user.sign_out")
