- if !user_sites.empty?
  - user_sites.each do |app|
    .col-md-4
      .box
        .box-header
          %h3.box-title 
            = app.name
          .box-tools.pull-right
            %button.btn.btn-default.btn-sm{"data-original-title" => "Collapse", "data-toggle" => "tooltip", "data-widget" => "collapse", :title => ""}
              %i.fa.fa-minus
        .box-body
          %center
            = cl_image_tag(app.logo, :width => 300, :height => 220, :crop => :scale) 
          %p
            amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
            berliner weisse wort chiller adjunct hydrometer alcohol aau!
            sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        / /.box-body
        .box-footer
          %a.btn.btn-primary
            Ver mas