- if !screenshots.empty?
  - screenshots.each_with_index do |screenshot, index|
    .col-md-6.screenshot_box
      .row
        .col-md-7
          = cl_image_tag(screenshot.image, :width => 450, :height => 300)
        .col-md-5
          %h3
            = screenshot.title
          %p
            = screenshot.description
