- if !activities.empty?
  %h4
    = t("activities.title")
  %ul.todo-list.ui-sortable
    - activities.each do |activity|
      %li
        %span.text
          %a{:href => activity_detail_path(:app_id => app.slugs, :id => activity.slugs)}
            = activity.name
        .tools
          %i.fa.fa-edit
          %i.fa.fa-trash-o
