- if !activities.empty?
  %h4
    = t("activities.title")
  - activities.each do |activity|
    .callout
      %a{:href => activity_detail_path(:app_id => app.slugs, :id => activity.slugs)}
        %h4
          = activity.name
      %p
        = activity.description