%h4
  = t("activity_logs.behavior_title")

#behavior

:javascript

  $( document ).ready(function() {

      var results_url = "/activity-behavior/" + $('#activity_name').text();

     $.getJSON( results_url, function( json_data ) {
         console.log(json_data);

         var chart_data = new Array(); 

         $.each(json_data, function(key_name, value) {
            chart_data.push({hour: value.friendly_date , count: value.log_count})
         });

          Morris.Area({
            element: 'behavior',
            data: chart_data,
            xkey: 'hour',
            ykeys: ['count'],
            labels: ['Registros']
          });

     });

  });

