%h4
  = t("event_logs.behavior_title")

#event-behavior

:javascript

  $( document ).ready(function() {

      var results_url = "/event-behavior/" + $('#event_name').text();

     $.getJSON( results_url, function( json_data ) {
         console.log(json_data);

         var chart_data = new Array();

         $.each(json_data, function(key_name, value) {
            chart_data.push({hour: value.friendly_date , count: value.log_count})
         });

          Morris.Area({
            element: 'event-behavior',
            data: chart_data,
            xkey: 'hour',
            ykeys: ['count'],
            labels: ['Registros']
          });

     });

  });
